#parentgrid {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        "area1" "area2"
        "area3" "area_others"
}

#area1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#area2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

#area_others {
  display: flex;
  flex-direction: column;
}

#area45 {
  display: flex;
  flex-direction: row;
}

#area4 {
  flex: 89.5%;
}

tr:nth-child(even) {
  background: #680068;
  color: #ffffff;
}

tr:nth-child(odd) {
  background: #290029;
  color: #ffffff;
}

tr:hover {
  color: #000000;
  background: #ffc5ff
}

#area5 {
  flex: 10.5%;
}

#area67 {
  display: flex;
  flex-direction: row;
}

#area6 {
  flex: 10.5%;
}

#area7 {
  flex: 89.5%;
}

#area8 {
  display: flex;
  flex-direction: row
}

#myhead {
    float: right;
    height: 100px;
    word-wrap: break-word;
}

#myheadagain {
    height: 100px;
}